<app-navbar></app-navbar>
<div class="main-container">
    <div class="register-wrapper">
        <div class="register-screen">
            <div class="well">
                <div class="register-form">
                    <form action="" method="post" id="login-form" (submit)="onRegisterSubmit()">
                      <div class="input-group">
                        <input type="text" class="form-control" id="pd-form-name" placeholder="姓名" [(ngModel)]="name" name="name" autocomplete="off" value="" data-rule="姓名:required;name" />
                      </div>
                      <div class="input-group">
                        <input type="password" class="form-control" id="pd-form-username" placeholder="用户名" [(ngModel)]="username" name="username" autocomplete="off" value="" data-rule="用户名:required;username" />
                      </div>
                      <div class="input-group">
                          <input type="text" class="form-control" id="pd-form-email" placeholder="邮箱" [(ngModel)]="email" name="email" autocomplete="off" value="" data-rule="邮箱:required;email" />
                        </div>
                        <div class="input-group">
                          <input type="password" class="form-control" id="pd-form-password" placeholder="密码" [(ngModel)]="password" name="password" autocomplete="off" value="" data-rule="密码:required;password" />
                        </div>
                      <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">注 册</button>
                      </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>